MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=conversa
JWT_SECRET=yourverysecurekey
GLM_API_KEY=
GLM_MODEL=glm-4.5-air
IMAGE_GEN_MODEL=cogview-3
EMAIL=your.email@example.com
PASSWORD= your.password
CORS_ORIGIN=*
FRONTEND_URL=http://localhost:5173
AMAP_API_KEY=your.amap.api.key
