MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=conversa
JWT_SECRET=yourverysecurekey
GLM_API_KEY=0ea48c9bb7b14b7194893c9c03247b6f.92n0VIuvvZwbKzAd
GLM_MODEL=glm-4.5-air
IMAGE_GEN_MODEL=cogview-3
EMAIL=921711655@qq.com
PASSWORD=hzmdttixcannbbfa
CORS_ORIGIN=*
FRONTEND_URL=http://localhost:5173
AMAP_API_KEY=50179f12ec71538a7d00dd0368aa1b0e
